<div id="login-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Iniciar sesión</h2>
        </div>
        <div class="modal-body">
            <div class="sesion-container">
                <label for="user"><b>Usuario</b></label>
                <input type="text" placeholder="Usuario" name="user" required>
            
                <label for="password"><b>Contraseña</b></label>
                <input type="password" placeholder="Contraseña" name="password" required>
            
                <button type="submit">Iniciar Sesión</button>
            </div>
        </div>
        <div class="modal-footer">
            <button id="sign-in-btn">Registrarse</button>
        </div>
    </div>
</div>